<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>google_adwords_label</key>
	<string></string>
	<key>google_adwords_conversion_id</key>
	<string></string>
	<key>base_url</key>
	<string></string>
	<key>google_analytics_api_key</key>
	<string></string>
	<key>api_key</key>
	<string></string>
</dict>
</plist>
