name: Build App

on:
  push:
    branches: [ develop, master, feature/* ]
  pull_request:
    branches: [ develop, master, feature/* ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  cancel-previous:
      name: Cancel Stale In-progress Builds
      runs-on: ubuntu-latest
      steps:
        - name: Cancel Previous Runs
          uses: styfle/cancel-workflow-action@0.9.1
          with:
            access_token: ${{ github.token }}
  
  build:
    runs-on: macos-12
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.3.1.app/Contents/Developer

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Bundle Install
        run: bundle install

        # Required for KotlinMultiplatform
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Pod install
        run: bundle exec pod install

      - name: Run Tests
        run: bundle exec fastlane cru_shared_lane_run_tests

      - name: Download And Commit Latest OneSky Localizations
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        env:
          ONESKY_PUBLIC_KEY: ${{ secrets.ONESKY_PUBLIC_KEY }}
          ONESKY_SECRET_KEY: ${{ secrets.ONESKY_SECRET_KEY }}
        run: bundle exec fastlane cru_shared_lane_download_and_commit_latest_one_sky_localizations

      - name: Import App Store Connect API Key
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        env:
          APP_STORE_CONNECT_API_JSON_PAYLOAD: ${{ secrets.APP_STORE_CONNECT_API_JSON_PAYLOAD }}
        run: echo $APP_STORE_CONNECT_API_JSON_PAYLOAD > fastlane/AppleAppStoreApi.json

      - name: Increment Xcode Project Build Number
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: bundle exec fastlane cru_shared_lane_increment_xcode_project_build_number

      - name: Build And Deploy For TestFlight Release
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        env:
          MATCH_GIT_BASIC_AUTHORIZATION_PAT: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION_PAT }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        run: bundle exec fastlane cru_shared_lane_build_and_deploy_for_testflight_release is_running_in_ci:true

      - name: Push Commits To Remote
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: git push
