name: Renovate Repair
on:
  push:
    branches:
      - "renovate/cocoapods/*"

jobs:
  cocoapods:
    runs-on: macos-14
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version-file: ".java-version"
      - name: Bundle Install
        run: bundle install

      - name: Pod install
        run: bundle exec pod install
      - name: Configure Deploy Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.RENOVATE_REPAIR_DEPLOY_KEY }}
      - name: Commit Podfile.lock
        run: |
          git config --global user.name 'Renovate Repair'
          git config --global user.email 'renovate-repair@users.noreply.github.com'
          git remote set-url origin git@github.com:CruGlobal/godtools-swift.git
          git commit -am "Update Podfile.lock"
          git push
